@import url("./root.css");

body {
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}

#app {
  width: inherit;
  height: inherit;
  position: relative;

  /* overflow: hidden; */ /* I first need to make sure draggable panes have to stay at least partially visible */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.gameForm .heading {
  font-family: ui-serif, serif;
  display: flex;
  align-items: end;
  border-bottom: 1pt solid currentColor;

  &>* {
    height: inherit;
    margin: 0;
    padding-inline: 0.5rem;
    border-right: 1pt solid currentColor;

    &:last-child {
      border-right: none;
    }
  }

  &>p {
    font-size: larger;
  }
}

.corner {
  display: block;
  font-size: .5lh;
}

.formField {
  flex: auto;
  position: relative;
  border: 1pt solid currentColor;

  &>label {
    font-size: 0.75lh;
    display: block;
    position: absolute;
    left: 0.5ch;
  }

  &:has(:required)>label {

    /* font-weight: bold; */
    &::after {
      content: " (reqired)";
      font-style: italic;
    }
  }

  &:has(:user-invalid) {
    color: color-mix(in oklch, currentColor 50%, red 50%);

    &::after {
      content: "âŒ";
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  &>input {
    padding-top: 0.75lh;
    height: 1.25lh;
    width: 100%;
    vertical-align: baseline;
    border: 0;
  }
}

.formLine {
  display: flex;
}
