:root {
  /* color-scheme: light dark; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --shadow-color: 0deg 0% 0%;
  --shadow-elevation-low:
    0.2px 0.5px 0.7px hsl(var(--shadow-color) / 0.05),
    0.3px 1px 1.4px -0.5px hsl(var(--shadow-color) / 0.1),
    0.7px 2.2px 3.1px -0.9px hsl(var(--shadow-color) / 0.15);
  --shadow-elevation-medium:
    0.2px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
    0.6px 1.8px 2.6px -0.2px hsl(var(--shadow-color) / 0.06),
    1.1px 3.4px 4.9px -0.5px hsl(var(--shadow-color) / 0.09),
    2px 6px 8.6px -0.7px hsl(var(--shadow-color) / 0.12),
    3.7px 10.8px 15.5px -0.9px hsl(var(--shadow-color) / 0.14);
  --shadow-elevation-high:
    0.2px 0.5px 0.7px hsl(var(--shadow-color) / 0.04),
    1.4px 4.1px 5.9px -0.1px hsl(var(--shadow-color) / 0.05),
    2.4px 7.2px 10.3px -0.2px hsl(var(--shadow-color) / 0.06),
    3.5px 10.5px 15px -0.3px hsl(var(--shadow-color) / 0.07),
    4.8px 14.3px 20.5px -0.4px hsl(var(--shadow-color) / 0.08),
    6.5px 19.2px 27.5px -0.5px hsl(var(--shadow-color) / 0.1),
    8.6px 25.5px 36.5px -0.6px hsl(var(--shadow-color) / 0.11),
    11.5px 33.9px 48.6px -0.7px hsl(var(--shadow-color) / 0.12),
    15.1px 44.8px 64.2px -0.8px hsl(var(--shadow-color) / 0.13),
    19.8px 58.6px 84px -0.9px hsl(var(--shadow-color) / 0.14);
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
#app {
  width: inherit;
  height: inherit;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

.gameForm {
  padding: 1rem;
  border-radius: 3pt;
  box-shadow: var(--shadow-elevation-medium);
  background-color: Canvas;
}

.gameForm .heading {
  font-family: ui-serif, serif;
  display: flex;
  align-items: end;
  border-bottom: 1pt solid currentColor;
  & > * {
    height: inherit;
    margin: 0;
    padding-inline: 0.5rem;
    border-right: 1pt solid currentColor;
    &:last-child {
      border-right: none;
    }
  }
  & > p {
    font-size: larger;
  }
}

.corner {
  display: block;
  font-size: .5lh;
}

.formField {
  flex: auto;
  position: relative;
  border: 1pt solid currentColor;
  & > label {
    font-size: 0.75lh;
    display: block;
    position: absolute;
    left: 0.5ch;
  }
  &:has(:required) > label {
    /* font-weight: bold; */
    &::after {
      content: " (reqired)";
      font-style: italic;
    }
  }
  &:has(:user-invalid) {
    color: color-mix(in oklch, currentColor 50%, red 50%);
    &::after {
      content: "âŒ";
      position:absolute;
      right:0;
      bottom: 0;
    }
  }
  & > input {
    padding-top: 0.75lh;
    height: 1.25lh;
    width: 100%;
    vertical-align: baseline;
    border: 0;
  }
}

.formLine {
  display:flex;
}
